/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
/* @import url(css/font-awesome.min.css); */
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
/* @import url(swiper.min.css); */
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
@import url(../images/);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
    background-color: #FAF5F5;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}


ol {
    font: 1em sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    pointer-events: none;
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 1px;
}

.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}

.header_bg {
    width: 100%;
    float: left;
    background-image: url(../images/back.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_bg .navbar-expand-lg .navbar-nav .nav-link {
    color: #FAF5F5;

}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 10px;
    font-size: 17px;
    color: #a9a8a8;
    border-radius: 5px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #4c4c4c;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #4c4c4c;
}

.navbar-brand {
    color: #dee2e6 !important;
    margin: 0px;
    float: right;
    position: fixed;

}

.navbar {
    padding: 15px 50px;

}

.user_icon {
    padding-right: 15px;
}

.login_bt {
    width: 210px;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: 18px;
    color: #d98473;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
    color: #4c4c4c;
}


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    background-color: #eee8e8;
    /* background-image: url('../images/happy.png')  ;  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}


.banner_taital_main {
    width: 100%;
    float: left;
    padding-top: 80px;
}

.banner_taital {
    width: 100%;
    font-size: 90px;
    color: #252525;
    font-weight: 800;
}

.text_titer_center {
    text-align: center;
    width: 100%;
    float: left;
    font-size: 35px;
    color: #050505;
    font-weight: bold;

}

.tasty_text_icon {
    float: left;
    font-size: 45px;
    color: black;
    font-weight: bold;
}

.tasty_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #050505;
    font-weight: bold;
    padding-top: 10px;
}

.banner_text {
    width: 80%;
    /* padding-top: 50px; */
    float: left;
    padding-bottom: 70px;
    font-size: 16px;
    color: #4a4949;
    margin: 0px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: 4.5em;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.about_bt {
    width: 175px;
    float: left;
}

.body-background {
    background-color: #FAF5F5 !important;
}

.about_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #4a4949;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

.about_bt a:hover {
    color: #4a4949;
    background-color: #fefefd;
    border: 1px solid #4a4949;
}

.callnow_bt {
    width: 175px;
    float: left;
}

.callnow_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #d48272;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
}

.callnow_bt a:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.callnow_bt.active a {
    color: #fefefd;
    background-color: #4a4949;
}

#banner_slider a.carousel-control-prev {
    left: 589px;
    top: 421px;
    color: #4a4949;
}

#banner_slider a.carousel-control-next {
    right: 410px;
    top: 421px;
    color: #4a4949;
    /* background-color: #fefefd ; */
    border: #000 1px;
}

#banner_slider .carousel-control-next,
#banner_slider .carousel-control-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 1;
    font-size: 16px;
    color: #4a4949;
    background-color: #efefef;
    transform: translateY(-50%);


}

#banner_slider .carousel-control-next:focus,
#banner_slider .carousel-control-next:hover {
    color: #fefefd;
    background-color: #4a4949;
}

#banner_slider .carousel-control-prev:focus,
#banner_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.banner_img {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* overflow: hidden; */
}

.banner_img img {
    height: auto;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

.banner_img img:hover {
    transform: scale(1.05);
    /* ซูมเข้ารูปภาพเมื่อวางเมาส์ */
}

/* banner section end */


/* product section start */


.product_title {
    text-align: center;
}

.product_hard_title {
    text-align: center;
    font-size: 30px
}

.product_taital {
    width: 100%;
    float: center;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.product_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.product_section_2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    /* opacity: 0; /* ซ่อนเนื้อหาจนกว่าจะเลื่อนเข้ามา 
    transition: opacity 1s ease-in-out; อนิเมชันของการเปลี่ยนแปลงความโปร่งใส */
}

.product_section_2 img {
    width: auto;
    max-width: 350px;
    height: 350px;
}

.product_section_2.show {
    opacity: 1;
    /* แสดงเนื้อหา */
}

.bulit_icon {
    width: 100%;
    text-align: center;
}

.product_img img {
    width: auto;
    height: 250px;
}

.types_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #3b3b3b;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.looking_text {
    font-size: 15px;
    padding-inline: 20%;
    width: 100%;
    float: left;
    color: #3b3b3b;
    margin: 0px;
    /* -webkit-line-clamp: 3; Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    /* Adjust based on your font size */
    max-height: 4.5em;
    /* Adjust based on line height and number of lines */
}

.read_bt {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #FAF5F5;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.8s;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #4a4949;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

.read_bt a:hover {
    color: #3b3b3b;
    border: 1px solid #fefefd;
}

#main_slider a.carousel-control-prev {
    left: -50px;
    top: 95px;
}

#main_slider a.carousel-control-next {
    right: -50px;
    top: 95px;
    color: #4a4949;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 3;
    font-size: 16px;
    color: #4a4949;
    background-color: #efefef;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover {
    color: #fefefd;
    background-color: #4a4949;
}

#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #4a4949;
}


/* product section end */


/* about section start */

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.about_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.about_taital_box {
    width: 500px;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding: 40px 20px 30px 20px;
    box-shadow: 0px 0px 30px 0px;
    position: absolute;
    top: 1550px;
}

.image_iman {
    padding-left: 250px;
    position: relative;
}

.about_img {
    width: 100%;
}

.about_taital_1 {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #3b3b3b;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232222;
    margin: 0px;
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 40px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #d78373;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #fc947f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.readmore_btn a:hover {
    color: #4a4949;
    border: 1px solid #4a4949;
}


/* about section end */


/* client section start */

.client_section {
    width: 100%;
    float: left;
    /* background-image: url(../images/popooo.jpg); */
    height: auto;
    background-size: cover;
    padding-bottom: 50px;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.client_taital_main {
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.client_left {
    width: 20%;
    float: left;
    padding-left: 50px;
}

.client_img {
    width: 90%;
}

.client_right {
    width: 80%;
    float: left;
    padding-top: 20px;
}

.moark_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #3b3b3b;
    font-weight: bold;
}

.client_text {
    width: 75%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    margin: 0px;
}


/* client section end */

/* blog section start */

.blog_section {
    width: 100%;
    float: left;
}

.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 60px;
}

.blog_box {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px;
    padding: 0px 0px 30px 0px;
}

.blog_img {
    width: 100%;
}

.date_text {
    width: 100px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: red;
    position: absolute;
    top: -10px;
    left: 5px;
}

.prep_text {
    width: 100%;
    font-size: 20px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    color: #3b3b3b;
    margin: 0px;
    padding: 0px 20px;
}


/* blog section end */


/* contact section start */

.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contact_section_2 {
    width: 100%;
    float: left;
    padding-top: 55px;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 50%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2e2e2d;
    border: 0px;
    background-color: #efefef;
    padding: 11px 20px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

input.mail_text::placeholder {
    color: #2e2e2d;
}

.massage-bt {
    color: #2e2e2d;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #efefef;
    padding: 40px 20px 0px 20px;
    border: 0px;
    height: 110px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

textarea#comment.massage-bt::placeholder {
    color: #2e2e2d;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #d07d6b;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.send_bt a:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}


/* contact section end */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    height: auto;
    background-color: #969696;
    background-size: 100% 100%;
    padding: 90px 0px 0px 0px;

}

.address_text {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 30px;
    color: #050505;
    font-weight: bold;
    padding-bottom: 20px;
}

.footer_text {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    color: #050505;
    text-align: center;
}

.location_text {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    color: #050505;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.location_text li {
    font-size: 16px;
    color: #000000;
    padding: 0px 0px 5px 0px;
}

.location_text li a {
    color: #000;
}

.location_text li a:hover {
    color: #d07d6b;
}

.padding_left_10 {
    padding-left: 10px;
}

.social_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.footer_social_icon {
    text-align: center;
    padding: 15px 0;


}

.footer_social_icon ul {
    display: inline-flex;
    color: wheat;
}

.footer_social_icon li {
    color: wheat;
    font-size: 20px;
    /* background-color: white; */
    border-radius: 50%;
    margin: 0 10px;
    /* เพิ่มระยะห่างระหว่างรายการ */
    list-style: none;
}

.footer_social_icon a {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    color: #f75b59;
    border-radius: 50%;
    /* ใช้ border-radius 50% เพื่อให้เป็นวงกลม */
    font-size: 19px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    /* เพิ่มการเปลี่ยนแปลงสีเมื่อ hover */
}

.footer_social_icon a:hover {
    background-color: #f75b59;
    color: #fff;
}


.update_mail {
    color: #3b3b3b;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    background-color: #efefef;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 20px;
    border: 0px;
}

textarea#comment.update_mail::placeholder {
    color: #3b3b3b;
}

.form-group {
    margin-bottom: 5rem;
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    align-items: baseline;
    justify-content: space-around;


}

.subscribe_bt {
    width: 70px;
    float: left;
    padding-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 16px;
    padding: 13px 0px 14px 0px;
    background-color: #d07d6b;
    text-transform: uppercase;
    text-align: center;
}

.subscribe_bt a:hover {
    color: #363636;
    background-color: #d07d6b;
}


/* footer section end */
/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color:
        #050505;
    height: auto;
    margin-top: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #363636;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#searchInput:focus {
    border-color: #007bff;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
    outline: none;
}

.product_details_section {
    padding: 60px 0;
}

.product_image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.detill-text {
    text-align: left;
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
}

.detill-text h1 {
    color: #050505;
    font-size: 25px;
}

.detill-text img {
    border-radius: 8px;
}

.product_description {
    white-space: pre-wrap;
    text-align: left;
    color: #606E76;
}

.product_price {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: green;
    border-color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: rgb(1, 68, 1);
}
.btn-back-button {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-back-button:hover {
    background-color: #a30000;
    color: white;
}

.detill-text {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 10px;
}

.product-image-detaill {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    padding-top: 20px;

}


.card-item-product {
    border: 1px solid #050505;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #FAF5F5;
    margin: 20px;
    min-width: 200px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card-item-product.show {
    opacity: 1;
    transform: translateY(0);
}

/* Image */
.card-item-product img {
    height: 225px;
    width: auto;
    object-fit: cover;
}

/* Title */
.card-item-product .card-title {
    font-size: 1.2rem;
    /* font-weight: 600;
    margin: 14px 0; */
    color: #050505;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    max-height: 3em;
}

.container_product_lits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 15px;
}

.card-body {
    -ms-flex: auto;
    flex: auto;

}

/* Description */
.card-item-product .card-description {

    font-size: 1rem;
    font-weight: 400;
    margin: 0 15px 15px 15px;
    color: #050505;
}

/* Button */
.card-item-product .card-button {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #FAF5F5;
    background-color: #050505;
    border: 1px solid #4a4949;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.8s;
}

/* Button Hover Effect */
.card-item-product .card-button:hover {
    background-color: #FAF5F5;
    color: #050505;
}

.card-text {
    margin-bottom: 10px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: 4.5em;
}

.embed-responsive {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    text-align: center;
}

.card_oder {
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
    transition: 3.3s;

    padding-inline: 5px;
}

.card_oder img {
    width: auto;
    height: 200px;
    border-radius: 8px;
    padding-inline: 5px;
}

.card_oder hr {
    text-align: center;
    text-align: 35px;
    width: 350px;
}

/* กำหนดสไตล์สำหรับฟอร์มค้นหา */
form {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 2px !important;
    border: 1px solid #FAF5F5;
    box-shadow: 0 2px 5px #050505;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control-search {
    display: flex;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 2px !important;
    border: 1px solid #FAF5F5;
    box-shadow: 0 2px 5px #050505;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control-search-lis {
    width: 80%;
    max-width: 400px;
    padding-right: 30px;
    border-radius: 2px !important;
    border: 1px solid #FAF5F5;
    box-shadow: 0 2px 5px #050505;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 2px 10px #606E76;
}

.btn {
    padding: 10px 20px;
    border: 5px #000;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    background-color: #050505;
    color: #FAF5F5;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: #969696;
    ;
    box-shadow: 0 2px 10px #050505;
    color: #050505;
}

.btn:active {
    background-color: #050505;
    box-shadow: 0 2px 5px #FAF5F5;
}

.mt-2 {
    margin-top: 10px;
}

.form-group-admin {
    margin-bottom: 15px;
}

.form-group-admin label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group-admin input[type="text"],
.form-group-admin input[type="password"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-group-admin input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 250;
}

.form-group-admin input[type="submit"]:hover {
    background-color: #0056b3;
}

/* ฟอร์มกรุ๊ป */
.form-group-edit {
    margin-bottom: 20px;
}

/* ป้ายกำกับฟอร์ม */
.form-group-edit label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

/* ป้อนข้อมูล */
.form-edit {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* ปรับแต่งภาพในฟอร์ม */
.form-group-edit img {
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* ปุ่ม Save */
.save-button {
    background-color: #FAF5F5;
    color: #050505;
    padding: 10px 20px;
    border: 5px #000;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;

}

.save-button:hover {
    background-color: #050505;
    color: #FAF5F5;
}

.form-edit-product {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 150px;
}

.actions {
    border-radius: 15px;
    width: 100%;
    background-color: cornsilk;
    color: #050505;
    border: 1px solid #050505;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 5px;

}

.dtaill-title ul {
    list-style-type: auto;
    padding-left: 20px;
}

.dtaill-title li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.dtaill-title li::marker {
    color: #007bff;
    font-size: 18px;
    /*test*/
}

.layout-img {
    width: 100%;
    height: 50%;
}

.visibility {
    height: 500px !important;
}

.porduct_section_show.show {
    opacity: 1;
    transform: translateY(0);
}

.parallax {
    position: relative;
    display: flex;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    background-color: #eee8e8;
    z-index: -2;
}

.parallax img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

#city1 {
    left: 0;
    z-index: 2;
}

#city2 {
    left: 0;
    z-index: -2;
    padding-bottom: 30px;
}
#text_logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px #000;
    z-index: -1;
    /* ข้อความจะอยู่ด้านบนสุด */
    padding-bottom: 150px;
}

#productTable {
    width: 150%;
    font-size: 15px;
}

#productTable img {
    width: 150px;
}

#productTable td,
#productTable th {
    padding: 12px;
}

.dropdown-filter {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 110%;
    padding: 0;
    margin: 0;
}

.dropdown-toggle {
    font-size: 16px;
}



.scroll-btn {
    position: fixed;
    right: 20px;
    z-index: 1000;
    background-color: #f57c00;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    border-color: 1px #000;
}

#scrollUp {
    bottom: 80px;
}

#scrollDown {
    bottom: 20px;
}

.scroll-btn:hover {
    background-color: #ff9800;
}

/* nav admin*/
.sidebar {
    width: 190px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #343a40;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 2;
    height: 100%;
}

.sidebar.active {
    left: 0px;
    padding-left: 10px;
}

.sidebar a {
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #f8f9fa;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #495057;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.sidebar a i {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #495057;
}

.menu-btn {
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    background-color: #343a40;
    color: #f8f9fa;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
}

.content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.content.shift {
    margin-left: 250px;
}

.adminicon {
    color: #f8f9fa;
}
.back-button{
    background-color: #000;
    color: white;
    padding: 10px;
    border-radius: 9px;
    text-align: center; /* จัดข้อความให้อยู่ตรงกลางภายในปุ่ม */
    display: block;
    margin: 0 auto; /* จัดปุ่มให้อยู่ตรงกลาง */
    width: fit-content; /* ขนาดของปุ่มตามขนาดเนื้อหา */
}

/*สินสุด navadmin*/
.container_product_list {
    max-width: fit-content;
}

/*about us*/
.about-section {
    padding: 0px;
    background-color: #f8f9fa;
    padding-top: px;
}

.about-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.about-content {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}

.team-section {
    padding: 60px 0;
    background-color: #fff;
}

.team-title {
    font-size: 30px;
    font-weight: center;
    text-align: center;
    margin-bottom: 40px;
}

.team-card {
    text-align: center;
    margin-bottom: 30px;
}

.team-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.team-card h5 {
    font-size: 20px;
    margin-top: 15px;
}

.team-card p {
    color: #777;
}

.about-banner {
    padding-top: 65px;

}

.about-banner img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.form-group-contact {
    padding: 3px;
    width: 100%;
}

.form-control-contact {
    width: 100%;
    border-radius: 8;

}

.thai-distributed {
    text-align: justify;
    line-height: 1.8;
    text-indent: 2em;
    margin-bottom: 1px;
    font-size: 20px;
}

/*off about us*/
/* lis product */
.edit-button {
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    padding: 5px
}

.delete-button {
    background-color: red;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

/* mouse move  */
.circle {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #00bfff00;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.05s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    z-index: 999;
}
.additional-images{
    width: 100%;
}

.additional-images img {
    width: 1110px;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 5px;
   
}
.form-group-edit i {
    color: red;
}
