 .u-section-1 {
   background-image: url("images/FreePremiumSquareBoxPackagingMockup.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-sheet-1 {
   min-height: 842px;
 }

 .u-section-1 .u-group-1 {
   min-height: 411px;
   width: 596px;
   height: auto;
   --radius: 50px;
   margin: 431px auto 0 0;
 }

 .u-section-1 .u-container-layout-1 {
   padding: 30px 60px;
 }

 .u-section-1 .u-text-1 {
   font-size: 3.4375rem;
   margin: 0;
 }

 .u-section-1 .u-btn-1 {
   background-image: none;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-style: none;
   align-self: center;
   font-weight: 700;
   margin: 20px auto 0 0;
   padding: 16px 46px 17px 44px;
 }

 .back-button-new {
   padding: 10px 20px;
   background-color: #04a18c;
   /* สีพื้นหลัง */
   color: black;
   /* สีตัวอักษร */
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1px;
   display: flex;
   justify-content: center;
   border-radius: 8px;
   padding-left: 50px;
   padding-right: 50px;
   transition: background-color 0.3s, transform 0.2s;
   /* เพิ่มการเปลี่ยนแปลงนุ่มนวล */
 }

 .back-button-new:hover {
   background-color: #015e51;
   /* เปลี่ยนสีเมื่อ hover */
   transform: translateY(-2px);
   /* ยกขึ้นเล็กน้อยเมื่อ hover */
   color: #000;
 }

 .back-button-new:active {
   background-color: #015e51;
   /* เปลี่ยนสีเมื่อคลิก */
   transform: translateY(0);
   /* กลับลงมาเมื่อ active */
   color: black;
 }


 @media (max-width: 1199px) {
   .u-section-1 .u-sheet-1 {
     min-height: 694px;
   }

   .u-section-1 .u-group-1 {
     --animation-custom_in-translate_x: 300px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
     height: auto;
   }

   .u-section-1 .u-btn-1 {
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 0deg;
     --animation-custom_in-scale: 0.3;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-sheet-1 {
     min-height: 532px;
   }

   .u-section-1 .u-container-layout-1 {
     padding-left: 30px;
     padding-right: 30px;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 .u-sheet-1 {
     min-height: 399px;
   }

   .u-section-1 .u-group-1 {
     width: 540px;
   }

   .u-section-1 .u-text-1 {
     font-size: 3rem;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
     min-height: 251px;
   }

   .u-section-1 .u-group-1 {
     width: 340px;
   }

   .u-section-1 .u-container-layout-1 {
     padding-left: 20px;
     padding-right: 20px;
   }

   .u-section-1 .u-text-1 {
     font-size: 1.875rem;
   }
 }

 .u-section-2 .u-sheet-1 {
   min-height: 2248px;
 }

 .u-section-2 .u-text-1 {
   margin: 47px 0 0;
 }

 .u-section-2 .u-layout-wrap-1 {
   width: 911px;
   margin: 37px 108px 0 auto;
 }

 .u-section-2 .u-image-1 {
   min-height: 347px;
   background-image: url("images/Header-AL1.png");
   background-position: 50% 50%;
 }

 .u-section-2 .u-container-layout-1 {
   padding: 0;
 }

 .u-section-2 .u-text-2 {
   margin: 56px 0 0;
 }

 .u-section-2 .u-btn-1 {
   background-image: none;
   padding: 0;
 }

 .u-section-2 .u-image-2 {
   width: 853px;
   height: 326px;
   margin: 18px auto 0;
 }

 .u-section-2 .u-text-3 {
   margin: 17px 0 0;
 }

 .u-section-2 .u-btn-2 {
   background-image: none;
   padding: 0;
 }

 .u-section-2 .u-slider-1 {
   min-height: 453px;
   height: auto;
   margin-top: 17px;
   margin-bottom: 0;
 }

 .u-section-2 .u-carousel-indicators-1 {
   position: absolute;
   bottom: 10px;
   width: auto;
   height: auto;
 }

 .u-section-2 .u-container-layout-2 {
   padding: 0 55px;
 }

 .u-section-2 .u-gallery-1 {
   height: 354px;
   width: 904px;
   grid-gap: 10px;
   margin: 50px auto 0;
 }

 .u-section-2 .u-gallery-inner-1 {
   grid-template-columns: repeat(3, auto);
   grid-gap: 10px;
 }

 .u-section-2 .u-over-slide-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-over-slide-2 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-over-slide-3 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-container-layout-3 {
   padding: 30px;
 }

 .u-section-2 .u-gallery-2 {
   height: 354px;
   width: 904px;
   grid-gap: 10px;
   margin: 0 auto;
 }

 .u-section-2 .u-gallery-inner-2 {
   grid-template-columns: repeat(3, auto);
   grid-gap: 10px;
 }

 .u-section-2 .u-over-slide-4 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-over-slide-5 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-over-slide-6 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }

 .u-section-2 .u-carousel-control-1 {
   background-image: none;
   width: 55px;
   height: 55px;
 }

 .u-section-2 .u-carousel-control-2 {
   background-image: none;
   width: 55px;
   height: 55px;
   left: auto;
   right: 0;
   position: absolute;
 }

 .u-section-2 .u-btn-3 {
   --radius: 50px;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 0.875rem;
   background-image: none;
   display: flex;
   justify-content: center;
 }

 @media (max-width: 1199px) {
   .u-section-2 .u-sheet-1 {
     min-height: 2157px;
   }

   .u-section-2 .u-layout-wrap-1 {
     margin-right: 29px;
   }

   .u-section-2 .u-image-1 {
     background-position: 50% 0%;
   }

   .u-section-2 .u-image-2 {
     margin-top: 0;
   }

   .u-section-2 .u-slider-1 {
     min-height: 423px;
     /* margin-top: 133px; */
   }

   .u-section-2 .u-gallery-1 {
     height: 324px;
     width: 830px;
   }

   .u-section-2 .u-gallery-2 {
     width: 880px;
     height: 344px;
   }

   .u-section-2 .u-btn-3 {
     margin-right: 108px;
   }
 }

 @media (max-width: 991px) {
   .u-section-2 .u-sheet-1 {
     min-height: 2033px;
   }

   .u-section-2 .u-layout-wrap-1 {
     width: 720px;
     margin-right: 0;
   }

   .u-section-2 .u-image-1 {
     min-height: 274px;
   }

   .u-section-2 .u-image-2 {
     width: 720px;
     height: 275px;

   }

   .u-section-2 .u-slider-1 {
     /* margin-top: -284px; */
   }

   .u-section-2 .u-container-layout-2 {
     padding-left: 30px;
     padding-right: 30px;
   }

   .u-section-2 .u-gallery-1 {
     height: 790px;
     width: 660px;
   }

   .u-section-2 .u-gallery-inner-1 {
     grid-template-columns: repeat(2, auto);
   }

   .u-section-2 .u-gallery-2 {
     width: 660px;
     height: 790px;
   }

   .u-section-2 .u-gallery-inner-2 {
     grid-template-columns: repeat(2, auto);
   }

   .u-section-2 .u-btn-3 {
     margin-right: 0;
     /* margin-bottom: -256px; */
   }
 }

 @media (max-width: 767px) {
   .u-section-2 .u-sheet-1 {
     min-height: 1896px;
   }

   .u-section-2 .u-layout-wrap-1 {
     width: 540px;
   }

   .u-section-2 .u-image-1 {
     min-height: 206px;
   }

   .u-section-2 .u-image-2 {
     width: 540px;
     height: 206px;
     /* margin-top: 1519px; */
   }

   .u-section-2 .u-slider-1 {
     /* margin-top: -1375px; */
   }

   .u-section-2 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-gallery-1 {
     height: 1892px;
     width: 520px;
   }

   .u-section-2 .u-gallery-inner-1 {
     grid-template-columns: repeat(1, auto);
   }

   .u-section-2 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-gallery-2 {
     width: 520px;
     height: 1892px;
   }

   .u-section-2 .u-gallery-inner-2 {
     grid-template-columns: repeat(1, auto);
   }

   .u-section-2 .u-btn-3 {
     /* margin-bottom: -350px; */
   }
 }

 @media (max-width: 575px) {
   .u-section-2 .u-sheet-1 {
     min-height: 1744px;
   }

   .u-section-2 .u-layout-wrap-1 {
     width: 340px;
   }

   .u-section-2 .u-image-1 {
     min-height: 130px;
   }

   .u-section-2 .u-image-2 {
     width: 340px;
     height: 130px;
     /* margin-top: 799px; */
   }

   .u-section-2 .u-slider-1 {
     /* margin-top: -581px; */
   }

   .u-section-2 .u-gallery-1 {
     height: 1172px;
     width: 320px;
   }

   .u-section-2 .u-gallery-2 {
     width: 320px;
     height: 1172px;
   }

   .u-section-2 .u-btn-3 {
     /* margin-bottom: -424px; */
   }
 }

 .item-img img {
   vertical-align: middle;
 }

 .banner-details {
   padding: 25px;
 }